@import "../../../../shared/styles/mixins.scss";
@import "../../../../shared/styles/elements.scss";

.character-list-container {
  .character-list-top-page-container {
    @include horizontalContent();
    justify-content: space-between;
    align-items: center;

    .limit-container {
      @include horizontalContent();
      align-items: center;
      div {
        margin-right: 15px;
        span {
          margin-right: 15px
        }
      }
    }
  }

  .grid {
    @include routerGrid();

    .links-container {
      width: 100%;
      height: 100%;
      @include verticalContent();

      .links-content {
        @include linksContainer();
        margin-top: auto;
      }
    }
  }

  .load-more-container {
    @include horizontalContent();
    justify-content: center;
    align-items: center;
    margin: 15px 0;
  }
}
