<section class="character-list-container">
  <div class="character-list-top-page-container">
    <h1 class="page-title">Personagens</h1>
    <input [formControl]="characterName" type="text" placeholder="Pesquise por persoangens">
  </div>
  <div class="grid">
    <ng-container *ngIf="character$ | async as apiResponse">
      <app-card *ngFor="let char of apiResponse?.data?.results"
      [title]="char?.name"
      [imagePath]="char?.thumbnail?.path"
      [imageExtension]="char?.thumbnail?.extension"
      >
        <div class="links-container">
          <div class="links-content">
            <a [routerLink]="['/characters/details', char?.id]">Info</a>
            <a>Revistas</a>
            <a>Series</a>
            <a>Histórias</a>
          </div>
        </div>
      </app-card>
    </ng-container>
  </div>
  <div class="load-more-container">
    <button class="primary" *ngIf="character$">Carregar personagens</button>
  </div>
</section>
