@import '../styles/font-size.scss';
@import '../styles/colors.scss';

.page-title {
  font-size: $bigSizeSm;
  margin-bottom: 15px;
}

input[type=text] {
  all: unset;
  padding: 10px;
  color: $fontColor1;
  background-color: $tertiaryColor;
  font-weight: bold;
  border-radius: 5px;
}

button {
  all: unset;
  cursor: pointer;
  font-size: $mediumSizeSm;
  text-align: center;
  font-weight: bold;
  padding: 15px;
  border-radius: 5px;
  background-color: $tertiaryColor;
  transition: all 0.2s ease-in-out;
}

button.primary {
  background-color: $primaryColor;

  &:hover {
    background-color: rgba($color: $primaryColor, $alpha: 0.7);
  }
}
