@import './app/shared/styles/colors.scss';

// CSS Reset
* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  background-color: $blackColor2;
}
